.CustomDiv{
	margin-left: 2%;
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 5%;
}

.invisible{
	display: none;
}

footer{
	position:fixed;
	text-align:center;
	color: white;
}

body{
	margin-bottom: 10%;
}
